<!doctype html>
<html>
<head>
	<title>Program 3</title>
	<style>
		table, th, td {
			border: 1px solid black;
		}
	</style>
	<script type="module" src="/client.js" charset="utf-8" defer></script>
	<link rel="stylesheet" type="text/css" href="/heresyourcss.css">
</head>
<body>
	{{{body}}}
</body>

<footer>
	<p>by hartjack</p>
</footer>
</html>