<!doctype html>
<html>
<head>
	<title>Company Database</title>
	<style>
		table, th, td {
			border: 1px solid black;
		}
	</style>
	<script src="/client.js" charset="utf-8" defer></script>
</head>
<body>
	{{{body}}}
</body>
</html>