body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

li {
    display: inline-block;
    padding: 10px;
}

/* Pseudoclass: selects if a certian criterion is met */
/*  -> Pre-defined */
li:hover {
    font-size: 24px;
    font-weight: bold;
}

/* Pseudoelement: A piece of an element */
a::after {
    content: '😅'
}

a::before {
    content: '💯';
}

.advanced {
    height: 200px;
    width: 200px;
    border: 2px solid black;
    margin: 50px;

    /* 10 and 10 to the bottom and right (negative for top and left) + blur radius */
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    /* cursor: crosshair; */
    cursor: pointer;
}

.right {
    float: right;
}