<main class="photo-page">

  <div class="title-container">
    <h1>Photos of {{name}}</h1>
  </div>

  <div class="photo-card-container">

    {{#each photos}}
      {{> photoCard}}
    {{/each}}

  </div>

</main>

{{> addPhotoButtonModal}}
